<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>SignUp</h1>
	<form action="/account/register" method="POST">
		<input type="text" name="email" placeholder="email"> <br>
		<input type="text" name="username" placeholder="username"> <br>
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="submit">
	</form>
  </body>
</html>
